<div class="container">

	<li>（名前）
		<%= @post.user.name %>
	</li>
	<li>（タイトル)
		<%= @post.title %>
	</li>
	<li>（内容）
		<%= @post.content %>
	</li>
	<li>（回答）
		<% @post.answers.each do |answer| %>
	</li>

	<%= render "ratings/rating_form", ratet: [@post, answer, Rating.new] %>